.navPic {
    position: relative;
    left: 100px;
}

.navBrand {
    position: relative;
    left: 100px;
}

.nav-link {
    position: relative;
    left: 170px;
}

#createCampaign {
    position: relative;
    right: 30px;
}

/* rules of footer */
.footer {
    background-color: rgb(202, 213, 221);
    padding: 20px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footerPic {
      display: block
  }

  .footer .copyright {
    color: #EEEEEE;
    font-size: 10px;
    padding-top: 15px;
    display: inline-block;
  }

  .footer .company_info {
      margin-top: 2px;
      font-size: 5px;
  }
  
  .email {
    font-size: 7px;
    position: absolute;
    top: 55px;
    right: 30px;
  }

  .phone {
    font-size: 7px;
    position: absolute;
    top: 67px;
    right: 30px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 75px;
    bottom: 25px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 50px;
    bottom: 25px;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 25px;
    bottom: 25px;
  }