body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card .header .title{
  color: black;
  margin: 10px;
  text-align: center;
}

.description p{
  color: black;
  margin: 10px;
  text-align: center;
}

.learn-more{
  text-align: center;
}

.learn-more a{
  color: red;
  margin: 10px;
}

h4{
  color: black;
  margin-top: 10px;
}

.header_container{
  margin-bottom: 50px;
}

.card{
  width: 350px;
  min-height: 200px;
}

.description{
  min-height: 100px;
}
.content img{
  width: 100%;
  height: 170px;
}

.header{
  min-height: 60px;
}

.btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  color: black;
  background: none;
  border: none;
  border-color: white;
}
.btn-success:hover{
  color: black;
  background: none;
  border: none;
  border-color: white;
}
.btn-success{
  color: black;
  background: none;
  border: none;
  border-color: white;
}